html,body{
  margin:0;
  padding:0;
}
.divider {
    height: 3px;
    margin: 5px;
    border-radius: 50px;
    background: #3298dc;
    width: 180px;
}

#prizes {
  height: 120vh;
  display: flex;
}

#prizes1 {
  align-self: center;
  margin: 0 auto;
}

.banner {
  display: block;
}

#info {
  text-align: center;
  padding-top: 64px;
  padding-bottom: 128px;
}

.infocard {
  text-align: left;
  margin: 32px;
  padding: 32px;
}

.people {
  height: 120vh;
}

/* Cursor Styling */

.cursor::after {
  content:'';
  display:inline-block;
  margin-left:3px;
  background-color:white;
  animation-name:blink;
  animation-duration:0.5s;
  animation-iteration-count: infinite;
}
h1.cursor::after {
  height:24px;
  width:13px;
}
p.cursor::after {
  height:13px;
  width:6px;
}

@keyframes blink {
  0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}











