html, body {
  margin: 0;
  padding: 0;
}

img {
  z-index: 1;
  user-select: none;
}

.hero-body {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.hero {
  height: 100vh;
  justify-content: flex-start;
}

.hero .columns {
  margin: auto 0 !important;
}

.content {
  position: relative;
}

.content {
  margin-bottom: 0 !important;
}

.is-vertical-center {
  display: flex;
  align-items: center;
}

.divider {
  height: 3px;
  margin: 5px;
  border-radius: 50px;
  background: #3298dc;
  width: 180px;
}

#prizes {
  padding-bottom: 64px;
  min-height: 120vh;
  display: flex;
}

#prizes1 {
  align-self: center;
  margin: 0 auto;
}

.banner {
  display: block;
}

#info {
  text-align: center;
  padding-top: 64px;
  padding-bottom: 64px;
  z-index: 1;
}

.infocard {
  text-align: left;
  margin: 32px;
  padding: 32px;
}

#giveaway {
  padding: 64px;
}

.profile {
  padding: 32px;
}

.media p, .media strong {
  color: #fff;
}

/* Cursor Styling */

.cursor::after {
  content: '';
  display: inline-block;
  margin-left: 3px;
  background-color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

h1.cursor::after {
  height: 24px;
  width: 13px;
}

p.cursor::after {
  height: 13px;
  width: 6px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*Shine*/

.effect-shine {
  color: #F9A602;
  font-size: 10vw;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 6px;
  display: inline-block;
  position: relative;
  font-family: 'Merriweather', serif;
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s linear infinite;
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}